@import url("https://fonts.googleapis.com/css2?family=Lexend+Exa:wght@100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

:root {
  --Poppins: "Poppins", sans-serif;
  --Lexend: "Lexend Exa", sans-serif;
  --color-primary: #2e2d2c;
  --color-secondary: rgb(104, 104, 104);
  --bg: #010101;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  outline: none;
  border: none;
  text-decoration: none;
  list-style: none;
}

.header-main {
  font-family: var(--Poppins);
  display: flex;
  justify-items: center;
  align-items: center;
  justify-content: space-evenly;
  padding: 0 0.7rem;
  margin-top: 1rem;
  left: 0;
  right: 0;
  top: 0;
  z-index: 9999;
}

.header-main .nav-menu a {
  margin-right: 2rem;
  color: var(--color-primary);
  font-weight: 600;
  display: inline-block;
}

.home-container {
  display: flex;
  /* gap: 20px; */
  justify-content: space-evenly;
  align-items: center;
  margin-top: 7em;
}

.home-para {
  font-family: var(--Lexend);
  width: 400px;
  height: auto;
}

.home-para h1 {
  font-size: 36px;
}

.home-para p {
  font-size: 14px;
  color: #333;
  padding-top: 10px;
}

.home-container .home-img img {
  width: 300px;
  object-fit: cover;
}

.produk-container {
  font-family: var(--Poppins);
  margin: 0 10em;
  margin-top: 5em;
}

.produk-container h1 {
  font-size: 30px;
  margin-bottom: 20px;
  text-align: center;
}

.card-container {
  display: flex;
  gap: 20px;
  justify-content: center;
  margin-top: 2em;
}

.card {
  background-color: white;
  overflow: hidden;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  width: 300px;
}

.card img {
  width: 100%;
  height: auto;
  display: block;
  object-fit: cover;
  transition: transform 0.4s ease;
}

.card-para {
  padding: 15px;
}

.card p {
  font-size: 14px;
  color: #333;
}

.card-para button {
  background-color: #333;
  color: white;
  border: none;
  margin-top: 10px;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  transition: transform 0.5s ease-in-out;
  font-size: 13px;
  font-family: var(--Poppins);
}

.contact-container {
  font-family: var(--Poppins);
  margin: 0 10em;
  margin-top: 5em;
}
.contact-container h1 {
  font-size: 30px;
  margin-bottom: 20px;
  text-align: center;
}

.contact-container p {
  font-size: 14px;
  color: #333;
  text-align: center;
}

footer {
  font-family: var(--Poppins);
  background-color: #333;
  color: white;
  text-align: center;
  padding: 10px 0;
  margin-top: 5em;
}
